.projects {
    display: flex;
    flex-direction: column;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-description > img {
    border-radius: 1rem;
    height: 8rem;
}

@media (800px <= width) {
    .project-description {
        flex-direction: row;
    }

    .project:nth-child(odd) > .project-description {
        flex-direction: row-reverse;
    }

    .project-description > * {
        margin: 0rem 1rem;
    }

    .project-description > img {
        height: 12rem;
    }
}
