:root {
  text-align: center;
}

.content {
  padding: 0rem 35rem;
}

@media (width < 1000px) {
  .content {
    padding: 0rem;
  }
}

@media (100px <= width < 800px) {
  .content {
    padding: 0rem 5rem;
  }
}

@media (800px <= width < 1280px) {
  .content {
    padding: 0rem 10rem;
  }
}

@media (1280px <= width < 1600px) {
  .content {
    padding: 0rem 25rem;
  }
}
